<p class="intro">{{ '! sthguoht ruoy etirw ot eerf leef' | reverse }}</p>
<form>
  <h1>Add New Article</h1>
  <div style="display: flex; flex-direction: column;">
    <label for="ArticleTitle">Title</label>
    <input style="width: 200px;" type="text" [(ngModel)]="newArticle.title" name="ArticleTitle">
    <label for="ArticleBody">Body</label>
    <textarea style="width: 200px;" [(ngModel)]="newArticle.body" name="ArticleBody" required></textarea>
    <input type="hidden" [(ngModel)]="newArticle.userId" name="ArticleUserId">
  </div>
  <button (click)="addArticle()">Add Article</button>
  <div *ngIf="errorMessage" class="error-message" style="color: red; margin-top: 10px;">
  {{ errorMessage }}
</div>
</form>